<h1 class="pt-6 pb-2 text-4xl font-semibold">Sign up for your <%= appname %> account</h1>

<div class="container pt-2">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <div>
      <%= f.label :email, class: "block text-gray-700 text-sm font-bold mt-4" %>
    </div>
    <div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-sm" %>
    </div>
    <div>
      <%= f.label :password, class: "block text-gray-700 text-sm font-bold mt-4" %></div>
      <% if @minimum_password_length %>
        <span class="text-xs italic text-gray-500">(<%= @minimum_password_length %> characters minimum)</span>
      <% end %>
    <div>
      <%= f.password_field :password, autocomplete: "new-password", class: "rounded-sm" %>
    </div>
    <div>
      <%= f.label :password_confirmation, class: "block text-gray-700 text-sm font-bold mt-4" %>
    </div>
    <div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded-sm" %>
    </div>
    <div>
      <%= f.submit "sign up", class: "mt-6 rounded-lg py-3 px-5 bg-green-400 inline-block font-medium hover:bg-green-600 active:bg-green-700 focus:outline-none focus:ring focus:ring-ring-300" %>
    </div>

<% end %>
</div>
<%= render "devise/shared/links" %>
